/*!
Theme Name: Coronation Religious Store
Theme URI: http://www.elegantthemes.com/gallery/divi/
Template: Divi
Author: Webfor
Author URI: webfor.com
Tags: responsive-layout,one-column,two-columns,three-columns,four-columns,left-sidebar,right-sidebar,custom-background,custom-colors,featured-images,full-width-template,post-formats,rtl-language-support,theme-options,threaded-comments,translation-ready
Version: 1.0.1533584766
Updated: 2018-08-06 12:46:06

*/
@import url("https://fonts.googleapis.com/css?family=Lato:700");
body.woocommerce #main-content .container:before {
  display: none;
}
@media screen and (min-width: 769px) {
  body.woocommerce #page-container #left-area {
    width: 75% !important;
  }
  body.woocommerce #page-container #sidebar {
    width: 25% !important;
  }
}
body.woocommerce form.woocommerce-ordering {
  float: left;
  margin-right: 30px;
}
body.woocommerce form.woocommerce-ordering select {
  vertical-align: middle;
}
body.woocommerce .woocommerce-result-count {
  float: none;
  display: inline;
}

.woocommerce-page h1,
.cart_totals h2,
.woocommerce-billing-fields h3,
#order_review_heading,
.woocommerce-column__title {
  color: #B18F16 !important;
  font-weight: light;
  font-size: 32px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

body.woocommerce.post-type-archive-product #sidebar {
  display: none;
}
body.woocommerce.post-type-archive-product #page-container #left-area {
  width: 100% !important;
}

body.woocommerce.post-type-archive-product .page-description,
body.woocommerce.archive.tax-product_cat .page-description {
  margin-bottom: 50px;
}
body.woocommerce.post-type-archive-product .page-description p, body.woocommerce.post-type-archive-product p,
body.woocommerce.archive.tax-product_cat .page-description p,
body.woocommerce.archive.tax-product_cat p {
  font-size: 22px;
}

.woocommerce-mini-cart-item a.remove_from_cart_button,
.cart_item a.remove {
  color: white !important;
  background: #B18F16;
  top: 20px !important;
  font-size: 24px !important;
}
.woocommerce-mini-cart-item a.remove_from_cart_button:hover,
.cart_item a.remove:hover {
  background: #FAFAFA;
  color: red !important;
}

div.product form.cart div.quantity,
table.shop_table div.quantity {
  border-radius: 0px !important;
}
div.product form.cart div.quantity input.qty,
table.shop_table div.quantity input.qty {
  background-color: #f2f2f2 !important;
  color: #323232 !important;
  border-radius: 0px !important;
  padding-top: 13px !important;
  padding-bottom: 13px !important;
  font-size: 17px !important;
  line-height: 1 !important;
  height: auto !important;
}

.woocommerce #breadcrumbs {
  font-size: 16px;
  color: #353534;
  margin-bottom: 40px;
}
.woocommerce #breadcrumbs a {
  color: #B18F16;
}

h1.woocommerce-products-header__title.page-title {
  font-size: 42px;
  color: #B18F16;
  margin-bottom: 50px;
}

body.tax-product_cat h2 {
  font-size: 42px;
  color: #B18F16;
  margin-bottom: 50px;
}
body.tax-product_cat h1.woocommerce-products-header__title.page-title {
  font-weight: 300;
  margin-bottom: 20px;
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link .woocommerce-loop-product__title {
  color: black;
  font-size: 22px !important;
}
.woocommerce-LoopProduct-link.woocommerce-loop-product__link span.price {
  font-size: 16px !important;
  color: #555555;
}

.product-category-header {
  margin-bottom: 50px;
  max-width: 872px;
}

.woocommerce button.button.alt, .woocommerce-page button.button.alt,
.woocommerce button.button, .woocommerce-page button.button,
.et_button_no_icon.woocommerce-page button.button, .et_button_no_icon.woocommerce-page button.button.alt,
.woocommerce.et_pb_button_helper_class #respond input#submit, .woocommerce-page.et_pb_button_helper_class #respond input#submit,
.woocommerce.et_pb_button_helper_class a.button, .woocommerce-page.et_pb_button_helper_class a.button {
  color: white !important;
  background: #B18F16 !important;
  border-radius: 0px !important;
  font-size: 17px !important;
  border: none;
  padding: 13px 27px !important;
  line-height: 1 !important;
}
.woocommerce button.button.alt:hover, .woocommerce-page button.button.alt:hover,
.woocommerce button.button:hover, .woocommerce-page button.button:hover,
.et_button_no_icon.woocommerce-page button.button:hover, .et_button_no_icon.woocommerce-page button.button.alt:hover,
.woocommerce.et_pb_button_helper_class #respond input#submit:hover, .woocommerce-page.et_pb_button_helper_class #respond input#submit:hover,
.woocommerce.et_pb_button_helper_class a.button:hover, .woocommerce-page.et_pb_button_helper_class a.button:hover {
  font-size: 17px !important;
  padding: 13px 27px !important;
}
@media screen and (max-width: 768px) {
  .woocommerce button.button.alt.wc-forward, .woocommerce-page button.button.alt.wc-forward,
  .woocommerce button.button.wc-forward, .woocommerce-page button.button.wc-forward,
  .et_button_no_icon.woocommerce-page button.button.wc-forward, .et_button_no_icon.woocommerce-page button.button.alt.wc-forward,
  .woocommerce.et_pb_button_helper_class #respond input#submit.wc-forward, .woocommerce-page.et_pb_button_helper_class #respond input#submit.wc-forward,
  .woocommerce.et_pb_button_helper_class a.button.wc-forward, .woocommerce-page.et_pb_button_helper_class a.button.wc-forward {
    background: #281E7B !important;
  }
}

button.single_add_to_cart_button {
  font-family: 'Lato', sans-serif;
}

.single_add_to_cart_button, .add_to_cart_button {
  text-transform: capitalize;
}

.product-header-container {
  padding-top: 21%;
  background-position: center;
  background-size: cover;
}

body.single-product #main-content {
  background: none !important;
}
body.single-product #main-content > .container {
  padding-top: 27px;
}
body.single-product #main-content > .container:before {
  background: none !important;
}
body.single-product #sidebar {
  float: right;
}
body.single-product #sidebar li.widget {
  list-style-type: none !important;
}
body.single-product #sidebar li.widget * {
  font-size: 14px;
}
body.single-product #sidebar li.widget .widgettitle {
  font-size: 22px;
}
body.single-product span.onsale:not(.coronation-on-sale), body.single-product .woocommerce-product-gallery__trigger {
  display: none;
}
body.single-product .coronation-on-sale {
  position: static;
  margin-bottom: 37px !important;
  display: inline-block;
}
body.single-product h1.product_title, body.single-product h1.product_title * {
  color: #B18F16;
  font-size: 32px;
  padding-bottom: 29px !important;
}
body.single-product p.price {
  margin-bottom: 33px;
}
body.single-product p.price .woocommerce-Price-amount.amount {
  color: #555555;
}
body.single-product.woocommerce div.product form.cart div.quantity {
  margin-right: 27px !important;
}

.woocommerce div.product div.summary {
  margin-bottom: 0px;
}

table.variations {
  margin-bottom: 0px !important;
}

.woocommerce-product-details__short-description {
  font-size: 18px;
}

.product_meta {
  border-top: 0px;
}

.sku_wrapper, .posted_in {
  font-size: 16px;
  display: block;
  margin-bottom: 25px;
}
.sku_wrapper a, .posted_in a {
  color: #B18F16 !important;
  text-decoration: underline;
  font-weight: bold;
}

table.variations td.label label, .quantity-label {
  color: #B18F16;
  font-size: 17px !important;
  font-weight: bold;
}

.quantity-label {
  float: left;
  margin-right: 15px;
}

.woocommerce span.onsale, .woocommerce-page span.onsale {
  background: #898989 !important;
  border-radius: 0px !important;
  font-size: 16px;
  padding: 14px 16px !important;
  line-height: 1 !important;
}

body.woocommerce #content-area div.product .woocommerce-tabs {
  padding-top: 78px;
  border: none !important;
}
@media screen and (min-width: 769px) {
  body.woocommerce #content-area div.product .woocommerce-tabs {
    display: flex;
  }
}
body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs:before {
  display: none;
}
@media screen and (min-width: 769px) {
  body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs {
    float: left;
    width: 100%;
    max-width: 323px;
    background: none !important;
  }
}
body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs li {
  width: 100%;
  background: none !important;
  border-right: 0px !important;
  margin: 0px !important;
}
body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs li a {
  background: none !important;
  font-size: 18px;
  font-weight: 400 !important;
  color: #555555;
  border-top: 2px solid #FAFAFA;
  width: 100%;
}
@media screen and (min-width: 769px) {
  body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs li a {
    padding: 30px 22px 30px 0px !important;
  }
}
body.woocommerce #content-area div.product .woocommerce-tabs .tabs.wc-tabs li a:after {
  content: '';
  display: inline-block;
  background-image: url("/wp-content/themes/Coronation/ecommerce/images/arrow.png");
  width: 26px;
  height: 26px;
  float: right;
}
body.woocommerce #content-area div.product .woocommerce-Tabs-panel {
  background: #FAFAFA;
  width: 100%;
}
@media screen and (min-width: 769px) {
  body.woocommerce #content-area div.product .woocommerce-Tabs-panel {
    padding: 39px 60px !important;
  }
}
body.woocommerce #content-area div.product .woocommerce-Tabs-panel h2 {
  color: #B18F16;
  font-size: 28px;
}
body.woocommerce #content-area div.product .woocommerce-Tabs-panel p {
  font-size: 18px;
}

.woocommerce-notices-wrapper, .woocommerce-form-coupon-toggle {
  background: #E9CC62;
  padding-left: 39px;
}
.woocommerce-notices-wrapper .woocommerce-message, .woocommerce-notices-wrapper .woocommerce-info, .woocommerce-form-coupon-toggle .woocommerce-message, .woocommerce-form-coupon-toggle .woocommerce-info {
  background-color: #B18F16 !important;
}
.woocommerce-notices-wrapper a.button.wc-forward, .woocommerce-form-coupon-toggle a.button.wc-forward {
  border-left: 1px solid #D5C078 !important;
}

a.button.wc-forward {
  color: white !important;
  border-radius: 0px !important;
  text-transform: capitalize;
  background-color: #EAE8E6 !important;
}
@media screen and (min-width: 791px) {
  a.button.wc-forward {
    background: none !important;
  }
}

.woocommerce.et_pb_widget {
  font-size: 16px !important;
  margin-bottom: 50px !important;
}
.woocommerce.et_pb_widget .widgettitle {
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-bottom: 2px solid #FAFAFA;
  font-size: 22px !important;
}
.woocommerce.et_pb_widget ul.product-categories li {
  padding-left: 30px;
}
.woocommerce.et_pb_widget ul.product-categories li:before {
  content: "";
  background-image: url("/wp-content/themes/Coronation/ecommerce/images/category_folder.png");
  position: absolute;
  margin-left: -30px;
  margin-top: 6px;
  width: 22px;
  height: 22px;
}
.woocommerce.et_pb_widget ul.product-categories li a {
  color: #777;
  font-size: 14px !important;
}

li.woocommerce-mini-cart-item.mini_cart_item img.attachment-woocommerce_thumbnail {
  float: left;
  width: 67px !important;
  margin-right: 20px;
}
li.woocommerce-mini-cart-item.mini_cart_item a:not(.remove_from_cart_button) {
  color: #B18F16;
  white-space: normal;
  line-height: 1.4em;
}
li.woocommerce-mini-cart-item.mini_cart_item .quantity {
  float: right;
  width: auto;
  font-style: italic;
}

.woocommerce .widget_shopping_cart .total, .woocommerce.widget_shopping_cart .total {
  border-top: 2px solid #fafafa !important;
}

.widget_shopping_cart_content .woocommerce-mini-cart__buttons .button.wc-forward:not(.checkout) {
  background: #EAE8E6 !important;
  color: #555555 !important;
}

section.related.products {
  padding: 50px;
  background: #fafafa;
}
section.related.products h2 {
  padding: 0px;
  color: #B18F16;
  margin-bottom: 30px;
  font-size: 28px;
  text-transform: capitalize;
}

ul.products .woocommerce-loop-category__title {
  font-size: 22px !important;
}
ul.products li.product .et_overlay {
  -webkit-backdrop-filter: blur(7px) brightness(50%);
          backdrop-filter: blur(7px) brightness(50%);
  background: rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
}
ul.products li.product .et_overlay:before {
  position: static;
  content: 'View Product';
  /*** YOUR TEXT ***/
  font-family: 'Lato', Arial !important;
  /*** YOUR CHOSEN FONT FAMILY ***/
  text-transform: capitalize;
  font-size: 17px;
  color: #fff;
  /*** COLOR OF YOUR TEXT ***/
  text-align: center;
  width: auto !important;
  padding: 20px;
  border: 2px solid white;
  margin: auto;
}
ul.products li.product mark.count {
  display: none;
}

.browse-category, .product-learn-more {
  color: #B18F16;
  font-size: 16px;
  display: block;
  padding: 8px 0px;
}

.woocommerce table.shop_table td * {
  font-size: 16px;
}

.woocommerce table.shop_table,
.woocommerce-checkout #payment {
  border-radius: 0px;
  border: none;
}
.woocommerce table.shop_table thead,
.woocommerce-checkout #payment thead {
  background-color: #EAE8E6;
}
.woocommerce table.shop_table thead th,
.woocommerce-checkout #payment thead th {
  font-size: 17px;
}
.woocommerce table.shop_table img,
.woocommerce-checkout #payment img {
  width: 123px;
}
.woocommerce table.shop_table tr.cart_item,
.woocommerce-checkout #payment tr.cart_item {
  background-color: #FAFAFA !important;
}
.woocommerce table.shop_table td, .woocommerce table.shop_table td *,
.woocommerce-checkout #payment td,
.woocommerce-checkout #payment td * {
  font-size: 16px;
}
.woocommerce table.shop_table td.product-name a, .woocommerce table.shop_table td *.product-name a,
.woocommerce-checkout #payment td.product-name a,
.woocommerce-checkout #payment td *.product-name a {
  color: #B18F16;
  font-size: 18px;
}
.woocommerce table.shop_table tr td.actions,
.woocommerce-checkout #payment tr td.actions {
  border: none !important;
}
.woocommerce table.shop_table tr td.actions .coupon .input-text,
.woocommerce-checkout #payment tr td.actions .coupon .input-text {
  border-radius: 0px !important;
  background-color: #F2F2F2 !important;
  color: #323232 !important;
}

.coupon .input-text::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #323232 !important;
  opacity: 1;
  /* Firefox */
}

.coupon .input-text:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #323232 !important;
  opacity: 1;
  /* Firefox */
}

.coupon .input-text::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #323232 !important;
  opacity: 1;
  /* Firefox */
}

.coupon .input-text::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #323232 !important;
  opacity: 1;
  /* Firefox */
}

.coupon .input-text:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #323232 !important;
}

.coupon .input-text:-ms-input-placeholder {
  /* Microsoft Edge */
  color: #323232 !important;
}

.cart_totals th, .cart_totals td,
.shop_table.woocommerce-checkout-review-order-table th,
.shop_table.woocommerce-checkout-review-order-table td,
.woocommerce-table th,
.woocommerce-table td {
  padding: 15px 36px !important;
}
.cart_totals tr th,
.shop_table.woocommerce-checkout-review-order-table tr th,
.woocommerce-table tr th {
  background: #EAE8E6 !important;
  font-size: 16px;
  border: none !important;
}
.cart_totals td,
.shop_table.woocommerce-checkout-review-order-table td,
.woocommerce-table td {
  border: none !important;
  background: #FAFAFA;
}

.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button,
.woocommerce .cart-collaterals .cart_totals .wc-proceed-to-checkout .checkout-button:hover {
  padding: 15px 0px !important;
}

.woocommerce-billing-fields label,
.woocommerce-shipping-fields label,
.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox,
.address-field strong {
  font-size: 16px !important;
}

.woocommerce-input-wrapper input {
  border-radius: 0px !important;
  border: none !important;
  box-shadow: inset 2px 2px 5px 0px #e7e7e7;
  background: #F2F2F2;
}

#customer_details {
  margin-bottom: 30px;
}

@media screen and (min-width: 769px) {
  .woocommerce-checkout .col2-set {
    float: left;
    width: 48%;
  }
  .woocommerce-checkout .col2-set .col-1, .woocommerce-checkout .col2-set .col-2 {
    float: none;
    width: 100%;
  }
  .woocommerce-checkout #order_review {
    float: right;
    width: 49%;
  }
}
.woocommerce-product-search input.search-field {
  padding: 14px 20px;
  font-size: 16px;
  background: #EDEBE9;
  border-radius: 10px 0px 0px 10px;
  border: none;
}
.woocommerce-product-search button[type="submit"] {
  cursor: pointer;
  padding: 15px 10px;
  margin-left: -4px;
  background: #B18F16;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}

@media screen and (min-width: 1024px) {
  .woocommerce ul.products li.product {
    width: 21% !important;
    margin: 2% !important;
    clear: none !important;
  }

  .woocommerce ul.products li.product:nth-child(4n+1) {
    clear: both !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .woocommerce.woocommerce-page #content-area ul.products li.product {
    margin-right: 5% !important;
  }
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #B18F16 !important;
}

header#main-header.et-fixed-header, #main-header {
  box-shadow: none !important;
}

#main-header {
  border-bottom: 6px solid #E9CC62;
}
#main-header .et_menu_container {
  min-height: 166px;
}

#top-header {
  background-color: #EAE8E6 !important;
}
#top-header a {
  color: #B18F16 !important;
  font-size: 13px !important;
  display: inline-block;
}
@media screen and (min-width: 769px) {
  #top-header a {
    font-size: 18px !important;
    margin-left: 30px !important;
  }
}
@media screen and (max-width: 768px) {
  #top-header a {
    padding: 8px 25px;
  }
}
@media screen and (max-width: 980px) {
  #top-header #et-secondary-menu {
    display: block !important;
  }
}

#top-header.et-fixed-header #et-secondary-menu a {
  color: #B18F16 !important;
}

#et-secondary-menu {
  padding: 5px 0px 10px;
}

.my-account, .et-cart-info span {
  padding-left: 22px;
}
.my-account:before, .et-cart-info span:before {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: -25px;
  margin-top: -5px;
  content: '';
  background-image: url("/wp-content/themes/Coronation/ecommerce/images/account.png");
  background-repeat: no-repeat;
}

.my-account:before {
  background-image: url("/wp-content/themes/Coronation/ecommerce/images/account.png");
}

.et-cart-info span:before {
  background-image: url("/wp-content/themes/Coronation/ecommerce/images/cart.png");
}

.products-gallery .et_pb_gallery_item {
  margin: 2px !important;
  width: 24% !important;
}
@media screen and (max-width: 980px) {
  .products-gallery .et_pb_gallery_item {
    padding: 15px 0px !important;
  }
}

/* Remove image overlays */
.et_pb_gallery_image span.et_overlay {
  display: none !important;
}

/*Force centered galleries for mobile*/
.et_pb_gallery_grid .et_pb_gallery_image {
  text-align: center !important;
}

.disable-lightbox a {
  pointer-events: none;
}
.disable-lightbox .et_overlay {
  display: none !important;
}

/*Forms*/
.gform_button {
  cursor: pointer;
}

/*Buttons*/
body #page-container #main-content .et_pb_button {
  padding: 17px !important;
}

/*Widget styles*/
.footer-widget .et_pb_widget {
  float: none;
}
.footer-widget h4.title {
  margin-bottom: 30px;
}
.footer-widget .textwidget {
  font-weight: 300;
}
.footer-widget .gallery {
  text-align: center !important;
  display: flex;
  align-items: center;
}
.footer-widget .gallery img {
  border: none !important;
}
.footer-widget .gallery .gallery-item {
  max-width: 44px;
  margin-right: 17px;
}
@media screen and (max-width: 768px) {
  .footer-widget .gallery {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .footer-widget {
    padding-left: 22%;
    padding-right: 22%;
  }
  .footer-widget * {
    text-align: center !important;
  }
}

@media screen and (min-width: 981px) {
  .header-phone a {
    font-size: 1.8em !important;
    color: #B18F16 !important;
  }

  /*Hide Superfly menu on mobile*/
  .sfm-navicon-button {
    display: none;
  }
}
@media screen and (max-width: 980px) {
  #et_mobile_nav_menu {
    display: none !important;
  }

  #logo {
    max-height: 103px;
    max-width: 100% !important;
  }

  .et_pb_divider {
    max-width: 6%;
  }
}
@media screen and (max-width: 768px) {
  .hero-button .et_pb_button_wrapper {
    text-align: center;
  }

  .et_pb_row, .container {
    width: 91.2%;
  }

  #main-footer {
    padding-top: 175px;
  }

  #footer-widgets .footer-widget:nth-child(n) {
    margin-bottom: 122px !important;
  }
}
